<div style="font-family:century gothic;">

    <div style="background: orange; padding:40px; border: none">
        <h1 style="color: white">The Excursionist</h1>

        <p style="color: white">Start session</p>
        <form action="../../views/testsearchpage/searchpage.html" method="post">
        <input type="text" ng-model="homeNoLogCtrl.usernameLogin" placeholder="Username"
               style="color:#a76500; border: none; border-radius: 3px"/>
        <input type="text" ng-model="homeNoLogCtrl.passwordLogin" placeholder="Password"
               style="color:#a76500; border: none; border-radius: 3px"/>
                <input type="submit" id ="searchBtn" value="Log in"/>
            </form>

    </div>
    <div style="color: orange; padding:40px">
        <h3 style="font-weight:lighter">Register to The Excursionist</h3>


        <div class="col-sm-6">

            <form class="form-horizontal">
                <div class="form-group">
                    <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputName" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputName" placeholder="Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputSurname" class="col-sm-2 control-label">Surname</label>
                    <div class="col-sm-10">
                        <input type="text" class="form-control" id="inputSurname" placeholder="Surname">
                    </div>
                </div>
                <div class="form-group">
                    <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                    <div class="col-sm-10">
                        <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                    </div>
                </div>
                <!--<div class="form-group">-->
                <!--<div class="col-sm-offset-2 col-sm-10">-->
                <!--<div class="checkbox">-->
                <!--<label>-->
                <!--<input type="checkbox"> Remember me-->
                <!--</label>-->
                <!--</div>-->
                <!--</div>-->
                <!--</div>-->
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-default">Sign in</button>
                    </div>
                </div>
            </form>
        </div>

        <div class="col-sm-1">
        </div>
        <div class="col-sm-6">

            <p>The excursionist is the new website to enjoy the best of an excccursion with your family, friends, kids
                or your dog!
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
                felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede
                justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
                Vivamus elementum semper nisi. Aenean vulputate eleifend tell

            </p>
        </div>

    </div>

</div>