<div ng-if="homeNoLogCtrl.isInRegistrationPage == false">
    <div style="font-family:century gothic;">

        <div style="background: orange; padding:40px; border: none">
            <h1 style="color: white"><b>The Excursionist</b></h1>

            <form action="../../views/testsearchpage/searchpage.html" method="post">
                <input type="text" ng-model="homeNoLogCtrl.usernameLogin" placeholder="Username"
                       style="color:#a76500; border: none; border-radius: 3px"/>
                <input type="text" ng-model="homeNoLogCtrl.passwordLogin" placeholder="Password"
                       style="color:#a76500; border: none; border-radius: 3px"/>
                <input type="submit" id="btn btn-default" value="Log in" ng-click="homeNoLogCtrl.login()"/>
            </form>

        </div>
        <div style="color: orange; padding:40px">
            <h3 style="font-weight:lighter">Register to <b>The Excursionist</b></h3>

            <div class="col-sm-6">

                <form class="form-horizontal">
                    <div class="form-group">
                        <label for="inputEmail3" class="col-sm-2 control-label">Email</label>
                        <div class="col-sm-10">
                            <input type="email" class="form-control" id="inputEmail3" placeholder="Email">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputName" class="col-sm-2 control-label">Name</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputName" placeholder="Name">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputSurname" class="col-sm-2 control-label">Surname</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputSurname" placeholder="Surname">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword3" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword3" placeholder="Password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default" ng-click="homeNoLogCtrl.goToRegistration()">
                                Sign in
                            </button>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-sm-1">
            </div>
            <div class="col-sm-6">

                <p>The excursionist is the new website to enjoy the best of an excccursion with your family, friends,
                    kids
                    or your dog!
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                    massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec
                    quam
                    felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec
                    pede
                    justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                    venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
                    Vivamus elementum semper nisi. Aenean vulputate eleifend tell
                </p>
            </div>
        </div>

        <div growl></div>
    </div>
</div>

<div ng-if="homeNoLogCtrl.isInRegistrationPage == true">
    <div style="font-family:century gothic;">
        <div style="background: orange; padding:40px; border: none">
            <h1 style="color: white"><b>The Excursionist</b></h1>
            <br>
        </div>
    </div>

    <div class="searchPageLore">
        <div class="sect">
        </div>

        <!--Settings section-->
        <div id="settings" class="subSection subOne">
            <div class="settingsContainer">
                <form name="personalInfo">
                    <input class="userSettings" type="text" placeholder="Name" id="userName"/><br><br>
                    <!-- <input class= "userSettings" type="image" placeholder="Image" id ="userImage"><br><br>-->
                    <input class="userSettings" type="text" placeholder="Surname" id="userSurname"/><br><br>
                    <input class="userSettings" type="text" placeholder="Current State" id="userState"><br><br>
                    <input class="userSettings" type="text" placeholder="Current City" id="userAge"/><br><br>
                    <input class="userSettings" type="text" placeholder="Age" id="userAge"/><br><br>
                    <input class="userSettings" type="email" placeholder="Email" id="userEmail"/><br><br>
                    <input class="userSubmit" type="submit" value="Submit"/>
                    <input class="userSubmit backHover" style="background: #8bde13;" type="submit" value="Back to Login" ng-click="homeNoLogCtrl.goToLogin()"/>
                </form>
            </div>
        </div>
    </div>

</div>