<DOCTYPE HTML>
    <html>
    <head lan="en">
        <meta charset="UTF-8">
        <title> THE EXUCURTIONIST </title>
        <link rel="stylesheet" href="style/searchpage.scss">
    </head>
    <body>
    <nav>
        <a href="#"> SETTINGS</a>
        <a href="#"> SEARCH</a>
        <a href="#"> ABOUT</a>
        <a href="#"> HELP</a>

    </nav>
    <div class="sect"></div>
    <div id= "settings" class="subSection subOne"></div>
    <div class="sect"></div>
    <div id= "search" class="subSection subTwo"></div>
    <div class="sect"></div>
    <div id= "about" class="subSection subThree"></div>
    <div class="sect"></div>
    <div id= "help" class="subSection subFour"></div>
    </body>
    </html>
</DOCTYPE>