<!-- Fixed navbar -->
<div class="startPageEnvelop">

    <div class="startPage">

        <navbar-directive></navbar-directive>

        <!-- Search bar -->
        <br>
        <br>
        <br>
        <br>

        <div style="margin-top:10px;">

            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="title" style="color:orange">Welcome back to<span style="font-weight: bold"> The Excursionist</span>
                        </h1>
                    </div>
                </div>
            </div>
            <div class="container" style="color:graytext">
                <!--TOP-->
                <div class="row">
                    <!--LEFT-->
                    <a href="#/myexcursions">
                        <div class="col-sm-6 box hvr-grow" style="color: green;">
                            <h3>My Excursions</h3>
                        </div>
                    </a>

                    <!--RIGHT-->
                    <a href="/#/friends">
                        <div class="col-sm-6 box hvr-grow" style="color: blue;">
                            <h3>Friends</h3>
                        </div>
                    </a>
                </div>

                <!--BOTTOM-->
                <div class="row">
                    <!--LEFT-->
                    <a href="/#/trend">
                        <div class="col-sm-6 box-bottom hvr-grow" style="color: red;">
                            <h3>Trend</h3>
                        </div>
                    </a>

                    <!--RIGHT-->
                    <a href="/#/latest">
                        <div class="col-sm-6 box-bottom hvr-grow" style="color: saddlebrown;">
                            <h3>Latest Added</h3>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
