<!-- Fixed navbar -->
<div class="startPageEnvelop">

    <div class="startPage">

        <navbar-directive></navbar-directive>

        <!-- Search bar -->
        <br>
        <br>
        <br>
        <br>

        <div style="margin-top:10px;">

            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="title" style="color:orange">Welcome back to<span style="font-weight: bold"> The Excursionist</span></h1>
                    </div>
                </div>
            </div>
            <div class="container" style="color:graytext">
                <!--TOP-->
                <div class="row">
                    <!--LEFT-->
                    <div class="col-sm-6 box">
                        <h3>My Excursions</h3>
                    </div>

                    <!--RIGHT-->
                    <div class="col-sm-6 box">
                        <h3>Friends</h3>
                    </div>
                </div>

                <!--BOTTOM-->
                <div class="row">
                    <!--LEFT-->
                    <div class="col-sm-6 box-bottom">
                        <h3>Trend</h3>
                    </div>

                    <!--RIGHT-->
                    <div class="col-sm-6 box-bottom">
                        <h3>Latest Added</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
